<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-cache" value="C:\Users\chen\.nuget\packages" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
    <add key="nuget-cache" value="C:\Users\chen\.nuget\packages" />
  </fallbackPackageFolders>
</configuration>
